.news__title {
  max-width: 1100px;
  margin-bottom: 64px;
  @media (max-width: 1300px) {
    max-width: 960px;
  }
  @media (max-width: 1100px) {
    max-width: 850px;
  }
}

.news__swiper {
  cursor: pointer;
  border-radius: 12px;
}

.news__navigation {
  margin: 45px 0 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.news__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 1px solid transparent;
  background-color: var(--accent);
  transition: all .4s;
  @media (max-width: 768px) {
    width: 52px;
    height: 52px;
  }
  @media (max-width: 430px) {
    width: 48px;
    height: 48px;
  }
}

.news__btn.swiper-button-disabled {
  opacity: .4;
  pointer-events: none;
  user-select: none;
}

.news__btn:hover {
  background-color: #bd2b35;

  svg path {
    fill: white;
  }
}

.news__btn:focus {
  background-color: transparent;
  border-color: var(--accent);

  svg path {
    fill: white;
  }
}

.news__btn svg {
  @media (max-width: 430px) {
    width: 21px;
    height: 21px;
  }
}

.news__card {
  display: flex;
  flex-direction: column;
  background-color: #EDF2FD;
  border-radius: 20px;
  overflow: hidden;
  color: #222222;
  height: 100%;
  padding-bottom: 18px;
}

.news__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  @media (max-width: 1200px) {
    height: 300px;
  }
  @media (max-width: 1100px) {
    height: 290px;
  }
  @media (max-width: 768px) {
    height: 270px;
  }
}

.news__top, .news__link, .news__date {
  margin: 0 18px;
  @media (max-width: 430px) {
    margin: 0 14px;
  }
}

.news__top {
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  @media (max-width: 610px) {
    gap: 12px;
  }
}

.news__category {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  background-color: var(--accent);
}

.news__time {
  font-size: 16px;
  @media (max-width: 430px) {
    font-size: 14px;
  }
}

.news__link {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 32px;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: color .4s, border .4s;
  @media (max-width: 430px) {
    font-size: 18px;
  }
}

.news__link:hover {
  color: rgba(7, 7, 7, 0.59);
}

.news__link:focus {
  color: #222222;
  border-color: var(--accent);
}

.news__date {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  @media (max-width: 430px) {
    font-size: 14px;
    gap: 7px;
  }
}

.news__swiper .swiper-slide {
  height: auto;
  box-sizing: border-box;
}