.btn {
  display: flex;
  justify-content: center;
  max-width: max-content;
  background-color: var(--accent);
  padding: 17px 32px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background-color .4s, color .4s, border .4s;
  @media (max-width: 440px) {
    font-size: 15px;
  }
}

.btn:hover {
  background-color: #bd2b35;
}

.btn:focus {
  background-color: #ffffff;
  color: var(--accent);
}

.btn--white {
  background-color: transparent;
  border-color: white;
}

.btn--white:hover {
  color: #ff505d;
  border-color: #ff505d;
  background-color: transparent;
}