.header {
  position: absolute;
  top: 0;
  z-index: 550;
  padding-top: 30px;
  max-width: 100%;
  width: 100%;
  @media (max-width: 992px) {
    padding-top: 23px;
  }
}

.header__inner {
  display: flex;
  gap: 60px;
  align-items: center;
  @media (max-width: 1170px) {
    position: relative;
    z-index: 100;
  }
  @media (max-width: 1100px) {
    justify-content: space-between;
  }
}

.header__nav {
  @media (max-width: 950px) {
    display: none;
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: 950px) {
    flex-direction: column;
    gap: 35px;
  }
}

.header__link {
  padding: 2px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  font-size: 18px;
  transition: color .4s, border .4s;
  @media (max-width: 950px) {
    font-size: 20px;
  }
  @media (max-width: 610px) {
    font-size: 18px;
  }
}

.header__link:hover {
  color: rgba(255, 255, 255, 0.74);
}

.header__link:focus {
  border-color: var(--accent);
  color: white;
}

.header__phone {
  color: white;
  margin-left: auto;
  display: flex;
  max-width: max-content;
  gap: 10px;
  padding: 4px 0;
  font-size: 18px;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: color .4s, border .4s;
  @media (max-width: 992px) {
    font-size: 16px;
  }
  @media (max-width: 500px) {
    display: none;
  }
}

.header__phone:hover {
  color: #5cff7c;
}

.header__phone:hover svg path {
  stroke: #5cff7c;
}

.header__phone:focus {
  border-color: #5cff7c;
}